@{
    ViewData["Title"] = "Home Page";


}
<style>
    .image-container0{
            margin-bottom: 0px; /* Hauteur du footer */

    }
</style>

<div class="image-container0">
    <img src="/images/res.webp" style="width: 100%; height: 637px;" />
    <div class="text-overlay">
        <p>Le coté des délices</p>
    </div>
</div>

